<footer class="footer text-center py-4">
    <small class="copyright">Template Copyright &copy; <a href="https://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
  </footer>
  
  <!-- Javascript -->          
	<script src="/assets/plugins/jquery/jquery-3.5.1.js"></script>
	<script src="/assets/plugins/popper.min.js"></script> 
	<script src="/assets/plugins/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
	
	<script src="/assets/plugins/tiny-slider/dist/min/tiny-slider.js"></script>
	<script src="/assets/plugins/testimonials.js"></script>